asgiref
autopep8
dj-database-url
Django
gunicorn
pycodestyle
python-decouple
pytz
sqlparse
toml
Unipath
whitenoise
Pillow
django-allauth
django-bootstrap-form
django-import-export
django-mptt
django-jalali-date
django-jalali
django-mathfilters
