{% extends 'layouts/base.html' %}

{% block title %} etc {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<div class="container-fluid py-4">

  <div class="row" dir="rtl" align="center">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <br><br>
            <h1> etc </h1>
        </div>
      </div>
    </div>
  </div>



{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}
